<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<title>Adaylar</title>
<!--/*/ <th:block th:include="admin/fragments/headerinc :: head"></th:block> /*/-->

<script type="text/javascript">
var id;

function setData(val){
	id = val;
}

function addList(){
	var list = {}
	list["id"] = $("#listName").val();
	list["appealId"] = id;
	
	$.ajax({
		type : "POST",
		url : "/admin/basket/addappeal",
		data : list,
		dataType : 'json',
		timeout : 100000,
		success : function(data) {
			$('#your-modal').modal('toggle');
		},
		error : function(e) {
			$('#your-modal').modal('toggle');
		},
		done : function(e) {
			$('#your-modal').modal('toggle');
		}
	});
}


</script>
</head>

<body>

		<div class="modal fade" id="your-modal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
		    <div class="modal-dialog" role="document">
		        <div class="modal-content">
		            <div class="modal-header">
						Başarılı !
		            </div>
		            <div class="modal-body">
						Kayıt Listeye Eklendi.
		            </div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Kapat" />	
					</div>
							            
		            
		        </div>
		    </div>
		</div>
	<!--/*/ <th:block th:include="admin/fragments/header :: header"></th:block> /*/-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="col-lg-12">
			<div class="panel panel-default">
				<div class="panel-heading" >Adaylar</div>

				<div style="min-height: 800px" class="panel-body">
					<div th:if="*{show}">
  						<div>
							<form th:object="${profiles}" th:action="@{/admin/appeals}"
							method="get">
							<div class="form-group" style="width: 300px">
								<label>Profiller</label> <select class="form-control"
									name="profileId">
									<option th:each="profiles : ${allProfiles}"
										th:value="${profiles.id}" th:text="${profiles.profileName}"
										th:selected="(${profiles.id} == ${selectedProfileId})"></option>
								</select>
							</div>
	
							<button type="submit" class="btn btn-primary">Filtrele</button>
						</form>
					</div>
					</div>					
					<table lang="tr" data-toggle="table" data-show-columns="true"
						data-search="true" data-select-item-name="toolbar1"
						data-pagination="true" data-sort-name="id" data-sort-order="desc">
						<thead>
							<tr>
								<th data-field="choose" data-checkbox="true" ></th>
								<th data-field="id">ID</th>

								<th data-visible="true" data-field="departmentName"
									data-sortable="true">Departman</th>
								<th data-visible="true" data-field="tcNo" data-sortable="true">Kimlik
									No</th>
								<th data-visible="true" data-field="name" data-sortable="true">Adı</th>

								<th data-visible="true" data-field="nation" data-sortable="true">Uyruk</th>

								<th data-visible="false" data-field="personalPhone"
									data-sortable="true">Telefon</th>
								<th data-visible="false" data-field="phone" data-sortable="true">Diğer
									Telefon</th>
									
									<th data-visible="false" data-field="home" data-sortable="true">Ev
									Telefonu</th>
									
								<th data-visible="true" data-field="eMail" data-sortable="true">Mail</th>

								<th data-visible="false" data-field="adress"
									data-sortable="true">Adres</th>
								<th data-visible="false" data-field="place" data-sortable="true">Şehir</th>


								<th data-visible="false" data-field="military"
									data-sortable="true">Askerlik Durumu</th>
								<th data-visible="false" data-field="militaryComment"
									data-sortable="true">Muaf Nedeni</th>
								<th data-visible="false" data-field="militaryReason"
									data-sortable="true">Muaf Nedeni (Diğer)</th>
								<th data-visible="false" data-field="militaryDate"
									data-sortable="true">Tecil Tarihi</th>

								
								<th data-visible="true" data-field="plan"
									data-sortable="true">Planlanan</th>
									
								<th data-visible="true" data-field="ulas"
									data-sortable="true">Ulaşılamayan</th>
									
								<th data-visible="true" data-field="res"
									data-sortable="true">Red</th>
								
								

								<th data-visible="true" data-field="hwIndex"
									data-sortable="true">BMI</th>

								<th data-visible="false" data-field="dateOfBirth"
									data-sortable="true">Doğum Tarihi</th>
								<th data-visible="true" data-field="gender" data-sortable="true">Cinsiyet</th>

								<th data-visible="false" data-field="malformed"
									data-sortable="true">Engel Durumu</th>
								<th data-visible="false" data-field="report"
									data-sortable="true">Özürlü Raporu</th>
								<th data-visible="false" data-field="malformedDegree"
									data-sortable="true">Engel Oranı</th>

								<th data-visible="false" data-field="signLanguage"
									data-sortable="true">İşaret Dili</th>

								<th data-visible="false" data-field="criminalRecord"
									data-sortable="true">Sicil Kayıdı</th>
								<!-- 						        <th data-visible="false" data-field="criminalRecorComment" data-sortable="true">Sicil Kayıt Nedeni</th> -->
								<th data-visible="false" data-field="criminalReason"
									data-sortable="true">Adli Sicil Nedeni</th>

								<th data-visible="false" data-field="size" data-sortable="true">Boy</th>
								<th data-visible="false" data-field="weight"
									data-sortable="true">Kilo</th>
								<th data-visible="false" data-field="isMarried"
									data-sortable="true">Medeni Hal</th>

								<th data-visible="true" data-field="educationLevel"
									data-sortable="true">Eğitim</th>
								<th data-visible="false" data-field="educationStatus"
									data-sortable="true">Eğitim Seviyesi</th>

								<th data-visible="false" data-field="universityName"
									data-sortable="true">Üniversite Adı</th>
								<th data-visible="false" data-field="universityDepartment"
									data-sortable="true">Üniversite Bölüm</th>
								<th data-visible="false" data-field="highSchollName"
									data-sortable="true">Lise</th>

								<th data-visible="false" data-field="isWorked"
									data-sortable="true">Toyotada Çalıştı Mı</th>
								<th data-visible="false" data-field="workedDepartmentName"
									data-sortable="true">Çalışılan Departman</th>
								<th data-visible="false" data-field="reason"
									data-sortable="true">Ayrılma Nedeni</th>
								<th data-visible="false" data-field="workStartDate"
									data-sortable="true">Başlama Zamanı</th>
								<th data-visible="false" data-field="workEndDate"
									data-sortable="true">Bitiş Zamanı</th>


								<th data-visible="false" data-field="createDate"
									data-sortable="true">Başvuru Tarihi</th>

								<th data-field="processes">İşlemler</th>
							</tr>

						</thead>
						<tr th:each="appeal : ${appeals}">

							<td data-field="choose"></td>
							<td data-field="id" th:text="${appeal.Id}"></td>
							<td data-field="departmentName"
								th:text="${appeal.departmentName}"></td>
							<td data-field="tcNo" th:text="${appeal.tcNo}"></td>
							<td data-field="name" th:text="${appeal.name}"></td>

							<td data-field="nation" th:text="${appeal.nation}"></td>

							<td data-field="personalPhone" th:text="${appeal.personalPhone}"></td>
							<td data-field="phone" th:text="${appeal.phone}"></td>
							<td data-field="home" th:text="${appeal.home}"></td>
							<td data-field="eMail" th:text="${appeal.eMail}"></td>
							<td data-field="adress" th:text="${appeal.adress}"></td>
							<td data-field="place" th:text="${appeal.place}"></td>


							<td data-field="military" th:text="${appeal.militaryStatus}"></td>
							<td data-field="militaryComment"
								th:text="${appeal.militaryStatusComment}"></td>
							<td data-field="militaryReason"
								th:text="${appeal.militaryReason}"></td>
							<td data-field="militaryDate" th:text="${appeal.militaryDate}"></td>
							
							<td data-field="plan">
								<input type="checkbox" />
							</td>
							
							<td data-field="ulas">
								<input type="checkbox" />
							</td>
							
							<td data-field="red">
								<input type="checkbox" />
							</td>

							<td data-field="hwIndex" th:text="${appeal.hwIndex}"></td>
							<td data-field="dateOfBirth" th:text="${appeal.dateOfBirth}"></td>

							<td data-field="gender" th:switch="${appeal.gender}"><span
								th:case="true" th:text="Bay" /> <span th:case="false"
								th:text="Bayan" /></td>

							<td data-field="malformed" th:text="${appeal.malformed}"></td>

							<td data-field="report" th:switch="${appeal.report}"><span
								th:case="true" th:text="Var" /> <span th:case="false"
								th:text="Yok" /></td>

							<td data-field="malformedDegree"
								th:text="${appeal.malformedDegree}"></td>

							<td data-field="signLanguage" th:switch="${appeal.signLanguage}">
								<span th:case="true" th:text="Evet" /> <span th:case="false"
								th:text="Hayır" />
							</td>


							<td data-field="criminalRecord"
								th:switch="${appeal.criminalRecord}"><span th:case="true"
								th:text="Var" /> <span th:case="false" th:text="Yok" /></td>
							<!-- 								<td data-field="criminalRecorComment" th:text="${appeal.criminalRecorComment}"></td> -->
							<td data-field="criminalReason"
								th:text="${appeal.criminalReason}"></td>

							<td data-field="size" th:text="${appeal.size}"></td>
							<td data-field="weight" th:text="${appeal.weight}"></td>


							<td data-field="isMarried" th:switch="${appeal.married}"><span
								th:case="true" th:text="Evli" /> <span th:case="false"
								th:text="Bekar" /></td>

							<td data-field="educationLevel"
								th:text="${appeal.educationLevel}"></td>
							<td data-field="educationStatus"
								th:text="${appeal.educationStatus}"></td>

							<td data-field="universityName"
								th:text="${appeal.universityName}"></td>
							<td data-field="universityDepartment"
								th:text="${appeal.universityDepartment}"></td>
							<td data-field="highSchollName"
								th:text="${appeal.highSchollName}"></td>



							<td data-field="isWorked" th:switch="${appeal.worked}"><span
								th:case="true" th:text="Evet" /> <span th:case="false"
								th:text="Hayır" /></td>

							<td data-field="workedDepartmentName"
								th:text="${appeal.workedDepartmentName}"></td>
							<td data-field="reason" th:text="${appeal.reason}"></td>

							<td data-field="reason" th:text="${appeal.workStartDate}"></td>
							<td data-field="reason" th:text="${appeal.workEndDate}"></td>

							<td data-field="createDate" th:text="${appeal.createDate}"></td>

							<td data-field="processes"><a
								th:href="${ '/admin/appeal/' + appeal.id}" target="_blank">
									<img alt="Görüntüle"
									src="https://cdn3.iconfinder.com/data/icons/linecons-free-vector-icons-pack/32/eye-24.png" />
							</a> <a th:href="${ '/admin/appeal/delete/' + appeal.id}"> <img
									alt="Arşivle"
									src="https://cdn4.iconfinder.com/data/icons/miu/24/editor-drawer-collection-archive-outline-stroke-24.png" />
							</a> <a> <img alt="PeopleSoft'a Aktar" style="cursor:pointer"
									src="https://cdn0.iconfinder.com/data/icons/mobile-device/512/lowcase-latin-letter-p-round-alphabet-keyboard-2-24.png" />
							</a>
							
							 <a> <img alt="Listeye Ekle" style="cursor:pointer"
									src="https://cdn4.iconfinder.com/data/icons/linecon/512/add-24.png" 
									data-toggle="modal" data-target="#myModal" th:onclick="'setData(\'' + ${appeal.id} + '\')'"/>
							</a>
							</td>
							
						</tr>
					</table>
				</div>
			</div>
		</div>

		<!-- Modal -->
		<div id="myModal" class="modal fade" role="dialog">
			<div class="modal-dialog">

				<!-- Modal content-->
				<div class="modal-content">
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal">&times;</button>
						<h4 class="modal-title">Listeye Ekle</h4>
					</div>
					<div class="modal-body">
						<form  method="post" th:action="@{/admin/profile/delete}">
							<div class="form-group col-md-6">
								<select class="form-control" id="listName">
										<option th:each="basket : ${baskets}" th:value="${basket.id}" th:text="${basket.name}"></option>
								</select>
							
							<br />
							<input type="submit" class="btn btn-default" data-dismiss="modal" value="Ekle" onclick="addList()"/>
							
							</div>
						</form>
						
					</div>
					<div class="modal-footer">
						
					</div>
				</div>

			</div>
		</div>

		<script type="text/javascript">
			$(function() {
				$('#hover, #striped, #condensed').click(
						function() {
							var classes = 'table';

							if ($('#hover').prop('checked')) {
								classes += ' table-hover';
							}
							if ($('#condensed').prop('checked')) {
								classes += ' table-condensed';
							}
							$('#table-style').bootstrapTable('destroy')
									.bootstrapTable({
										classes : classes,
										striped : $('#striped').prop('checked')
									});
						});
			});
		</script>
	</div>
	<!--/.main-->

</body>

</html>
