<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Adaylar</title>
<!--/*/ <th:block th:include="admin/fragments/headerinc :: head"></th:block> /*/-->
<style type="text/css">
	table tr th{
		 border:1px solid #ccc;
		 padding:5px;
	}
	
	th{
		width: 200px;
	}
	
	td{
		 border:1px solid #ccc;
		 padding:5px;
	}
</style>
</head>

<body>
		
	<!--/*/ <th:block th:include="admin/fragments/header :: header"></th:block> /*/-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">			
		
		
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Aday Inceleme : <span th:text="${appeal.name}"></span> </div>
					
					<div class="panel-body">
					
						<table style="width:100%;">
						  <tr>
						    <th>T.C. :</th>
						    <td><span th:text="${appeal.tcNo}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>İsim :</th>
						    <td><span th:text="${appeal.name}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Uyruk :</th>
						    <td><span th:text="${appeal.nation}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Cinsiyet :</th>
						    <td><span th:switch="${appeal.gender}">
									<span th:case="true" th:text="Bay" /> 
								    <span th:case="false" th:text="Bayan" />
							</span><br /></td>
						  </tr>
						  
			
						  
						  <tr>
						    <th>Doğum Tarihi :</th>
						    <td><span th:text="${appeal.dateOfBirth}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Kişişel Telefon :</th>
						    <td><span th:text="${appeal.personalPhone}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Diğer Telefon :</th>
						    <td><span th:text="${appeal.phone}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>E-Mail Adresi :</th>
						    <td><span th:text="${appeal.eMail}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Adres :</th>
						    <td><span th:text="${appeal.adress}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Şehir :</th>
						    <td><span th:text="${appeal.place}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Askerlik Durumu :</th>
						    <td><span th:text="${appeal.militaryStatus}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Muaf Nedeni :</th>
						    <td><span th:text="${appeal.militaryStatusComment}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Adli Sicil Kayıdı :</th>
						    <td><span th:switch="${appeal.criminalRecord}">
								    <span th:case="true" th:text="Var" /> 
								    <span th:case="false" th:text="Yok" />
							</span></td>
						  </tr>
						  
						  <tr>
						    <th>Sicil Kayıt Nedeni :</th>
						    <td><span th:text="${appeal.criminalRecorComment}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Boy :</th>
						    <td><span th:text="${appeal.size}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Kilo :</th>
						    <td><span th:text="${appeal.weight}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>BMI :</th>
						    <td><span th:text="${appeal.hwIndex}"></span></td>
						  </tr>
						  
						  						  <tr>
						    <th>Kilo :</th>
						    <td><span th:text="${appeal.weight}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>BMI :</th>
						    <td><span th:text="${appeal.hwIndex}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Engel Durumu :</th>
						    <td><span th:text="${appeal.malformed}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Özürlü Sağlık Kurulu Raporu :</th>
						    <td><span th:switch="${appeal.report}">
								    <span th:case="true" th:text="Var" /> 
								    <span th:case="false" th:text="Yok" />
							</span></td>
						  </tr>
						  
						 <tr>
						    <th>Engel Oranı :</th>
						    <td><span th:text="*{appeal.malformedDegree}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>İşaret Dili :</th>
						    <td><span th:switch="${appeal.signLanguage}">
								    <span th:case="true" th:text="Evet" /> 
								    <span th:case="false" th:text="Hayır" />
							</span></td>
						  </tr>
						  
						  <tr>
						    <th>Medeni Hali :</th>
						    <td><span th:switch="${appeal.married}">
								    <span th:case="true" th:text="Evli" /> 
								    <span th:case="false" th:text="Bekar" />
							</span></td>
						  </tr>
						  
						  <tr>
						    <th>Eğitim Seviyesi :</th>
						    <td><span th:text="${appeal.educationLevel}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Eğitim Durumu :</th>
						    <td><span th:text="${appeal.educationStatus}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Lise :</th>
						    <td><span th:text="${appeal.highSchollName}"></span></td>
						  </tr>						  
						  
						  <tr>
						    <th>Üniversite Adı :</th>
						    <td><span th:text="${appeal.universityName}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Bölüm :</th>
						    <td><span th:text="${appeal.universityDepartment}"></span></td>
						  </tr>
						  

						  
						  <tr>
						    <th>Daha Önce Toyotada Çalıştı Mı :</th>
						    <td><span th:switch="${appeal.worked}">
								    <span th:case="true" th:text="Evet" /> 
								    <span th:case="false" th:text="Hayır" />
							</span></td>
						  </tr>
						  
						  <tr>
						    <th>Çalışılan Departman Adı :</th>
						    <td><span th:text="${appeal.workedDepartmentName}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Ayrılma Sebebi :</th>
						    <td><span th:text="${appeal.reason}"></span></td>
						  </tr>
						  
						  <tr>
						    <th>Oluşturma Zamanı :</th>
						    <td><span th:text="${appeal.createDate}"></span></td>
						  </tr>

						</table>
					</div>
			</div>
			</div>
			
			
	</div>	<!--/.main-->
	
</body>

</html>
