<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="tr">
<title>Toyota Aday Sistemi</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<link href="../../static/css/style.css" rel="stylesheet" />
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
<!-- Optional theme -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" />
<!-- Latest compiled and minified JavaScript -->
<script type="text/javascript"
	src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript"
	src="https://momentjs.com/downloads/moment.min.js"></script>
<script type="text/javascript"
	src="../../static/js/bootstrap-datetimepicker.min.js"></script>
<link rel="stylesheet"
	href="../../static/css/bootstrap-datetimepicker.min.css" />
	
<script type="text/javascript" src="../../static/js/validator.js"></script>
<script type="text/javascript">
	$(function() {
		$("#criminalComment").hide();
		$("#universityName").hide();
		$("#highSchollName").hide();
		$("#militaryComment").hide();
		$("#work").hide();
		$('#militaryReason').hide();
		$('#criminalReason').hide();
		$('#signLanguage').hide();

		$("#sizeInput").val("");
		$("#weightInput").val("");

		$("#men").prop("checked", true);
		
		$('#form').validator();
		
		 $('#datetimepicker').datetimepicker({
             defaultDate: "12/12/1990",
             format : 'MM/DD/YYYY',
             viewMode: 'years',
             ignoreReadonly: true
         });
		 
		 $('#datetimepicker1').datetimepicker({
             defaultDate: "12/12/1990",
             format : 'MM/DD/YYYY',
             viewMode: 'years',
             ignoreReadonly: true
         });
		 
		 $('#datetimepicker2').datetimepicker({
             defaultDate: "12/12/1990",
             format : 'MM/DD/YYYY',
             viewMode: 'years',
             ignoreReadonly: true
         });
	});

	function eduStatus(val) {
		if (val == "Önlisans" || val == "Lisans" || val == "Yüksek Lisans") {
			$("#highSchollName").hide();
			$("#universityName").show();
		} else if (val == "Anadolu Lisesi" || val == "Fen Lisesi" || val == "Meslek Lisesi") {
			$("#universityName").hide();
			$("#highSchollName").show();
		} else {
			$("#universityName").hide();
			$("#highSchollName").hide();
		}
	}

	function criminalComment(val) {
		if (val == "true") {
			$("#criminalComment").show();
		} else {
			$("#criminalComment").hide();
		}
	}

	function military(val) {
		if (val == "Muaf") {
			$("#militaryComment").show();
		} else {
			$("#militaryComment").hide();
		}
	}
	
	function militaryReason_(val){
		if (val == "Diğer") {
			$("#militaryReason").show();
		} else {
			$("#militaryReason").hide();
		}
	}
	
	function criminalReason_(val){
		if (val == "Diğer") {
			$("#criminalReason").show();
		} else {
			$("#criminalReason").hide();
		}
	}
	
	
</script>
<link
	href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css"
	rel="stylesheet" />
<style type="text/css">
</style>
</head>
<body>
	<div class="container" id="form" style="margin-top: 50px">
		<form data-toggle="validator" class="well form-horizontal" th:object="${appeal}"
			th:action="@{/appeal}" method="post" id="contact_form">
			<input type="hidden" th:field="*{id}" />

			<fieldset>
				<!-- Form Name -->
				<legend align="center">Toyota Online Başvuru Formu</legend>
				
				<div class="form-group">
					<label class="col-md-4 control-label">Başvurmak İstediğiniz Departman</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-screenshot"></i></span> <select class="form-control" id="sel1" th:text="${appeal.departmentName}">
										<option value="Üretim">Üretim</option>
										<option value="Üretim">Ofis</option>
							</select>
						</div>
					</div>
				</div>
				
				
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">T.C. Kimlik No</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-globe"></i></span> <input name="first_name"
								placeholder="12345678900" class="form-control"  type="text" maxlength="11" pattern="^[0-9]{1,}$"
								required="required" th:text="${appeal.tcNo}"  
								data-error="Lütfen geçerli bir kimlik numarası girin" />
						</div>
					</div>
					<div class="help-block with-errors"></div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">Adı Soyadı</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input name="last_name"
								placeholder="İsim" class="form-control" type="text"
								required="required" th:text="${appeal.name}"
								data-error="Lütfen isim ve soyisminizi girin." />
						</div>
					</div>
					<div class="help-block with-errors"></div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">Uyruk</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <select
								class="form-control" id="sel1" th:text="${appeal.nation}">
								<option value="T.C.">T.C.</option>
								<option value="Diğer">Diğer</option>
							</select>
						</div>
					</div>
				</div>


				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">İletişim Bilgileri</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-envelope"></i></span> 
								
								<input name="city" placeholder="Cep Telefonu" class="form-control" type="text"  th:text="${appeal.personalPhone}" /> 
								
								<input placeholder="Diğer Telefon" class="form-control" type="text"  th:text="${appeal.phone}" /> 
								
								<input placeholder="E-Mail Adresi" class="form-control" type="email" th:text="${appeal.eMail}"
								data-error="Lütfen geçerli bir mail adresi girin."/>
								
								<textarea class="form-control" placeholder="Adres" rows="5" cols="40" th:text="${appeal.adress}"></textarea>
								
								<input placeholder="Şehir" class="form-control" type="text"	th:text="${appeal.place}"/>
						</div>
					</div>
					<div class="help-block with-errors"></div>
				</div>



				<!-- Text input-->
<!-- 				<div class="form-group"> -->
<!-- 					<label class="col-md-4 control-label">Doğum Yeri</label> -->
<!-- 					<div class="col-md-4 inputGroupContainer"> -->
<!-- 						<div class="input-group"> -->
<!-- 							<span class="input-group-addon"><i -->
<!-- 								class="glyphicon glyphicon-cloud-upload"></i></span> <input -->
<!-- 								name="email" placeholder="Doğum Yeri" class="form-control" -->
<!-- 								type="text" required="required" th:field="*{birthplace}" data-error="Lütfen doğum yerinizi girin."/> -->
<!-- 						</div> -->
<!-- 					</div> -->
<!-- 					<div class="help-block with-errors"></div> -->
<!-- 				</div> -->
				<!-- Text input-->
				
				<div class="form-group">
					<label class="col-md-4 control-label">Doğum Tarihi</label>
					<div class="col-md-4 inputGroupContainer">
						<div class='input-group date' id='datetimepicker'>
							<input type='text' class="form-control" required="required" data-error="Lütfen doğum tarihinizi girin"
								th:text="${appeal.dateOfBirth}" /> <span class="input-group-addon">
								<span class="glyphicon glyphicon-calendar"></span>
							</span>
						</div>
					</div>
					<div class="help-block with-errors"></div>
				</div>
				<!-- Text input-->
<!-- 				<div class="form-group"> -->
<!-- 					<label class="col-md-4 control-label">Cinsiyet</label> -->
<!-- 					<div class="col-md-4 inputGroupContainer"> -->
<!-- 						<div class="input-group"> -->
<!-- 							<label class="radio-inline"> <input id="men" -->
<!-- 								onclick="$('#militaryStatus').show()" type="radio" -->
<!-- 								name="optradio" th:field="*{gender}" value="true" />Bay -->
<!-- 							</label> <label class="radio-inline"> <input -->
<!-- 								onclick="$('#militaryStatus').hide()" type="radio" -->
<!-- 								name="optradio" th:field="*{gender}" value="false" />Bayan -->
<!-- 							</label> -->
<!-- 						</div> -->
						
<!-- 					</div> -->
<!-- 				</div> -->

				<div id="militaryStatus">
					<div class="form-group">
						<label class="col-md-4 control-label">Askerlik Durumu</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-screenshot"></i></span> <select
									onchange="military(this.value)" class="form-control" id="sel1"
									th:field="*{militaryStatus}">
									<option value="Belirtilmedi">Seçiniz</option>
									<option value="Yapıldı">Yapıldı</option>
									<option value="Yapılmadı">Yapılmadı</option>
									<option value="Muaf">Muaf</option>
								</select>
							</div>
						</div>
					</div>

					<div id="militaryComment" class="form-group">
						<label class="col-md-4 control-label">Muaf Olma Durumu</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-screenshot"></i></span> <select onchange="militaryReason_(this.value)"
									class="form-control" id="sel1"
									th:field="*{militaryStatusComment}">
									<option value="Belirtilmedi">Seçiniz</option>
									<option value="Boy Kilo Oranı">Boy Kilo Oranı</option>
									<option value="İşitme ve Görü Kaybı">İşitme ve Görü
										Kaybı</option>
									<option value="Fiziksel Engeller">Fiziksel Engeller</option>
									<option value="Diğer">Diğer</option>
								</select>
							</div>
						</div>
					</div>
					
				<div id="militaryReason" class="form-group">
					<label class="col-md-4 control-label">Nedenini Belirtin</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-screenshot"></i></span> <input class="form-control" type="text" th:field="*{militaryReason}" />
								
						</div>
					</div>
				</div>					
				</div>


				<div class="form-group">
					<label class="col-md-4 control-label">Adli Sicil Kayıdı</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<label class="radio-inline"> <input
								onclick="criminalComment(this.value)" type="radio"
								name="optradio" th:field="*{criminalRecord}" value="true" />Var
							</label> <label class="radio-inline"> <input
								onclick="criminalComment(this.value)" type="radio"
								name="optradio" th:field="*{criminalRecord}" value="false" />Yok
							</label>
						</div>
					</div>
				</div>

				<div id="criminalComment" class="form-group">
					<label class="col-md-4 control-label">Adli Sicil Nedeni ?</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-screenshot"></i></span> <select onchange="criminalReason_(this.value)"
								class="form-control" id="sel1"
								th:field="*{criminalRecorComment}">
								<option value="Belirtilmedi">Seçiniz</option>
								<option value="Uyuşturucu">Uyuşturucu</option>
								<option value="Taciz">Taciz</option>
								<option value="Aile Davası">Aile Davası</option>
								<option value="Haciz">Haciz</option>
								<option value="Cinayet">Cinayet</option>
								<option value="Diğer">Diğer</option>
							</select>
						</div>
					</div>
				</div>
				
				<div class="form-group" id="criminalReason">
					<label class="col-md-4 control-label">Nedenini Belirtin</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="glyphicon glyphicon-user"></i></span> <input class="form-control" type="text" th:field="*{criminalReason}"/>
								
						</div>
					</div>
				</div>	

				<div class="form-group">
					<label class="col-md-4 control-label">İşitme Engeliniz Var Mı ?</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<label class="radio-inline"> <input 
								type="radio" name="optradio" th:field="*{hearingLoss}" value="true"  onclick="$('#signLanguage').show()"/>Var
							</label> <label class="radio-inline"> <input
								type="radio" name="optradio" th:field="*{hearingLoss}" value="false" onclick="$('#signLanguage').hide()"/>Yok
							</label>
						</div>
						
					</div>
				</div>
				
				<div class="form-group" id="signLanguage">
					<label class="col-md-4 control-label">İşaret Dili Biliyor musunuz ?</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<label class="radio-inline"> <input 
								type="radio" name="optradio" th:field="*{signLanguage}" value="true" />Evet
							</label> <label class="radio-inline"> <input
								type="radio" name="optradio" th:field="*{signLanguage}" value="false" checked="true"/>Hayır
							</label>
						</div>
						
					</div>
				</div>

				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">Boy</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group spinnerBoy">
							<input id="sizeInput" type="text" class="form-control"
								th:field="*{size}" required="required" />
						</div>
					</div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">Kilo</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group spinnerKilo">
							<input id="weightInput" type="text" class="form-control"
								th:field="*{weight}" required="required" />
						</div>
					</div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">Medeni Hali</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<label class="radio-inline"> <input type="radio"
								name="optradio" th:field="*{isMarried}" value="true" />Evli
							</label> <label class="radio-inline"> <input type="radio"
								name="optradio" th:field="*{isMarried}" value="false" />Bekar
							</label>
						</div>
					</div>
				</div>
				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">Eğitim Durumu</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<select onchange="eduStatus(this.value)" class="form-control"
								id="sel1" th:field="*{educationLevel}">

								<option value="Ortaöğretim">Ortaöğretim</option>

								<option value="Anadolu Lisesi">Anadolu Lisesi</option>
								<option value="Fen Lisesi">Fen Lisesi</option>
								<option value="Meslek Lisesi">Meslek Lisesi</option>

								<option value="Önlisans">Önlisans</option>
								<option value="Lisans">Lisans</option>
								<option value="Yüksek Lisans">Yüksek Lisans</option>
							</select>
						</div>
					</div>
				</div>



				<div id="highSchollName" class="form-group">
					<label class="col-md-4 control-label">Lise Adı</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<span class="input-group-addon"><i
								class="	glyphicon glyphicon-education"></i></span> <input type="text"
								class="form-control" th:field="*{highSchollName}" />
						</div>
					</div>
				</div>

				<div id="universityName">
					<div class="form-group">
						<label class="col-md-4 control-label">Üniversite Adı</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="	glyphicon glyphicon-education"></i></span> <input type="text"
									class="form-control" th:field="*{universityName}" />
							</div>
						</div>
					</div>

					<div class="form-group">
						<label class="col-md-4 control-label">Bölüm</label>
						<div class="col-md-4 inputGroupContainer">
							<div class="input-group">
								<span class="input-group-addon"><i
									class="glyphicon glyphicon-education"></i></span> <input type="text"
									class="form-control" th:field="*{universityDepartment}" />
							</div>
						</div>
					</div>
				</div>


				<div class="form-group">
					<label class="col-md-4 control-label">Mezuniyet Durumu</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<label class="radio-inline"> <input type="radio"
								name="optradio" value="Öğrenci" th:field="*{educationStatus}" />Öğrenci
							</label> <label class="radio-inline"> <input type="radio"
								name="optradio" value="Mezun" th:field="*{educationStatus}" />Mezun
							</label> <label class="radio-inline"> <input type="radio"
								name="optradio" value="Terk" th:field="*{educationStatus}"/>Terk
							</label>
						</div>
					</div>
				</div>


				<!-- Text input-->
				<div class="form-group">
					<label class="col-md-4 control-label">Daha Once Toyotada
						Çalıştınız Mı</label>
					<div class="col-md-4 inputGroupContainer">
						<div class="input-group">
							<label class="radio-inline"> <input type="radio" onclick="$('#work').show()"
								name="optradio" th:field="*{isWorked}" value="true" />Evet
							</label> <label class="radio-inline"> <input type="radio" onclick="$('#work').hide()"
								name="optradio" th:field="*{isWorked}" value="false" />Hayır
							</label>
						</div>
					</div>
				</div>
				
				<div id="work">
					<div class="form-group">
							<label class="col-md-4 control-label">Çalışılan Departman</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<select class="form-control"
										id="sel1" th:field="*{workedDepartmentName}">
										<option value="Belirtilmedi">Seçiniz</option>
										<option value="Montaj">Montaj</option>
										<option value="Boya">Boya</option>
										<option value="Plastik">Plastik</option>
										<option value="Kalite">Kalite</option>
										<option value="Body">Body</option>
								</select>
								</div>
							</div>
						</div>
						
					<div class="form-group">
						<label class="col-md-4 control-label">Başlama Tarihi</label>
						<div class="col-md-4 inputGroupContainer">
							<div class='input-group date' id='datetimepicker1'>
								<input type='text' class="form-control"
									th:field="*{workStartDate}" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
					
					<div class="form-group">
						<label class="col-md-4 control-label">Bitiş Tarihi</label>
						<div class="col-md-4 inputGroupContainer">
							<div class='input-group date' id='datetimepicker2'>
								<input type='text' class="form-control"
									th:field="*{workEndDate}" /> <span class="input-group-addon">
									<span class="glyphicon glyphicon-calendar"></span>
								</span>
							</div>
						</div>
					</div>
						
					<div class="form-group">
							<label class="col-md-4 control-label">Ayrılma Nedeni</label>
							<div class="col-md-4 inputGroupContainer">
								<div class="input-group">
									<select class="form-control"
										id="sel1" th:field="*{reason}">
										<option value="Belirtilmedi">Seçiniz</option>
										<option value="Sözleşme">Sözleşme</option>
										<option value="İstifa">İstifa</option>
										<option value="Diğer">Diğer</option>
										
								</select>
								</div>
							</div>
						</div>
				</div>
				
				<input th:field="*{archive}" value="false" hidden="true"/>
				
				<!-- Success message -->
				<!-- 				<div class="alert alert-success" role="alert" id="success_message"> -->
				<!-- 					Success <i class="glyphicon glyphicon-thumbs-up"></i> Thanks for -->
				<!-- 					contacting us, we will get back to you shortly. -->
				<!-- 				</div> -->
				<!-- 				Button -->
				<div class="form-group">
					<label class="col-md-4 control-label"></label>
					<div class="col-md-4">
						<button type="submit" class="btn btn-warning">
							Gönder <span class="glyphicon glyphicon-send"></span>
						</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<!-- /.container -->
</body>
</html>