<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Kullanıcılar</title>
<!--/*/ <th:block th:include="admin/fragments/headerinc :: head"></th:block> /*/-->
<script type="text/javascript">
	$(document).ready(function() {
		$('#multiple_edu').multiselect();
	});
</script>
</head>

<body>

	<!--/*/ <th:block th:include="admin/fragments/header :: header"></th:block> /*/-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Listeleri Yönet</div>
					<div class="panel-body">
						<form method="post" th:action="@{/admin/basket/edit}">
							<div class="form-group col-md-6">
								<label>Listeler</label> <select class="form-control"
									name="id">
									<option th:each="basket : ${baskets}" name="id" th:value="${basket.id}"
										th:text="${basket.name}"></option>
								</select> <br /> <input type="submit" class="btn btn-default"
									name="action" value="Sil"/>
									
									<input type="submit" onclick="" class="btn btn-default"
									name="action" value="Görüntüle"/>

							</div>
						</form>
					</div>

					<div class="panel-heading">Kullanıcı Oluştur</div>
					<div class="panel-body">
						<div class="col-md-6">
								<form th:object="${basket}" th:action="@{/admin/basket/new}" method="post">
									<!-- Kullanıcı Adı -->
									<div class="form-group">
										<label>Liste Adı</label>
										<input class="form-control" placeholder="Kullanıcı Adı" th:field="*{name}"/>
									</div>
									
									<input type="submit" class="btn btn-primary" value="Oluştur"/>
								</form>
						</div>
					</div>


				</div>
			</div>
		</div>

	</div>
	<!--/.main-->

</body>

</html>
