<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<title>Profiller</title>
<!--/*/ <th:block th:include="admin/fragments/headerinc :: head"></th:block> /*/-->
<script type="text/javascript">
$(document).ready(function() {
    $('#multiple_edu').multiselect();
});
</script>
</head>

<body>
		
	<!--/*/ <th:block th:include="admin/fragments/header :: header"></th:block> /*/-->
	<div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main">							
		<div class="row">
			<div class="col-lg-12">
				<div class="panel panel-default">
					<div class="panel-heading">Profiller</div>
					<div class="panel-body">
						<form  method="post" th:action="@{/admin/profile/delete}">
							<div class="form-group col-md-6">
								<label>Profiller</label>
								<select class="form-control" name="id">
									<option th:each="profiles : ${allProfiles}" th:value="${profiles.id}"  th:text="${profiles.profileName}" ></option>
								</select>
							
							<br />
<!-- 							<input type="submit" class="btn btn-primary" value="Düzenle"/> -->
							<input type="submit" class="btn btn-default" value="Sil"/>
							
							</div>
						</form>
					</div>
					
					<div class="panel-heading">Profill Oluştur</div>
					<div class="panel-body">	
						<div class="col-md-6">
							<form th:object="${profiles}" th:action="@{/admin/profile/new}" method="post">

								<!-- Profil Adı -->
								<div class="form-group">
									<label>Profil Adı</label>
									<input class="form-control" placeholder="İsim" th:field="*{profileName}"/>
								</div>
								
								<!-- Engel Durumu -->
								<div class="form-group">
									<label>Engel Durumu</label>
									<select class="form-control" th:field="*{hearingLossConstraint}">
										<option value="*">Farketmez</option>

										<option value="Ortopedik">Ortopedik</option>
		
										<option value="Dil ve Konuşma">Dil ve Konuşma</option>
										<option value="Kronik">Kronik</option>
										<option value="Görme">Görme</option>
		
										<option value="İşitme">İşitme</option>
										<option value="Zihinsel">Zihinsel</option>
									</select>
								</div>
								
								<!-- Engel Oranı -->
								<div class="form-group">
									<label>Engel Oranı</label>
									<select class="form-control" th:field="*{malformedConstraint}">
										<option value="*">Farketmez</option>
										<option value="true">%40 ve Altı</option>
										<option value="false">%40 ve Üstü</option>
									</select>
								</div>
							
								<!-- Cinsiyet -->
								<div class="form-group">
									<label>Cinsiyet</label>
									<select class="form-control" th:field="*{genderConstraint}">
										<option value="*">Farketmez</option>
										<option value="true">Bay</option>
										<option value="false">Bayan</option>
									</select>
								</div>
								
								<!-- Adli Sicil Durumu -->
								<div class="form-group">
									<label>Adli Sicil Durumu</label>
									<select class="form-control" th:field="*{criminalRecordConstraint}">
										<option value="*">Farketmez</option>
										<option value="true">Var</option>
										<option value="false">Yok</option>
									</select>
								</div>
				               
								<!-- Medeni Durumu -->
								<div class="form-group">
									<label>Medeni Durumu</label>
									<select class="form-control" th:field="*{isMarriedConstraint}">
										<option value="*">Farketmez</option>
										<option value="true">Evli</option>
										<option value="false">Bekar</option>
									</select>
								</div>
								
								<!-- Eğitim Durumu -->
								
								<div class="form-group">
									<label>Eğitim Durumu</label><br />
									<select class="form-control" th:field="*{educationLevelConstraint}" id="multiple_edu" multiple="multiple">
									
									<option value="Ortaöğretim">Ortaöğretim</option>
	
									<option value="Lise">Lise</option>
									<option value="Meslek Lisesi">Meslek Lisesi</option>
	
									<option value="Önlisans">Önlisans</option>
									<option value="Lisans">Lisans</option>
									<option value="Yüksek Lisans">Yüksek Lisans</option>
									</select>
								</div>
								
								<!-- Daha önce toyotada çalıştı mı -->
								<div class="form-group">
									<label>Daha Once Toyotada Çalıştı Mı</label>
									<select class="form-control" th:field="*{isWorkedConstraint}">
										<option value="*">Farketmez</option>
										<option value="true">Evet</option>
										<option value="false">Hayır</option>
									</select>
								</div>
								
								<!-- Boy -->
								<div class="form-group " >
									<label>Boy Sınırı (Boş Sınırsız)</label>
									<div class=" form-inline" >
									Min <input class="form-control" placeholder="Minimum Boy" th:field="*{minSizeConstraint}"/>
									
									Max <input class="form-control" placeholder="Maksimum Boy" th:field="*{maxSizeConstraint}"/>
									</div>
								</div>
								
								<!-- Kilo -->
								<div class="form-group " >
									<label>Kilo Sınırı (Boş Sınırsız)</label>
									<div class=" form-inline" >
									Min <input class="form-control" placeholder="Minimum Kilo" th:field="*{minWeightConstraint}"/>
									
									Max <input class="form-control" placeholder="Maksimum Kilo" th:field="*{maxWeightConstraint}"/>
									</div>
								</div>
								
								<!-- Vücut Kitle Endeksi -->
								<div class="form-group " >
									<label>Vücut Kitle Endeksi</label>
									<div class=" form-inline" >
									Min <input class="form-control" placeholder="Minimum Endeks Değer" th:field="*{minHwIndexConstraint}"/>
									
									Max <input class="form-control" placeholder="Maksimum Endeks Değer" th:field="*{maxHwIndexConstraint}"/>
									</div>
								</div>
								
								<input type="submit" class="btn btn-primary" value="Kaydet"/>
				               
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
	</div>	<!--/.main-->
	
</body>

</html>
