<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head lang="en">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link href="../static/css/bootstrap.min.css"
	th:href="@{/css/bootstrap.min.css}" rel="stylesheet" media="screen" />
<link href="../../static/css/style.css" th:href="@{css/style.css}"
	rel="stylesheet" media="screen" />
</head>

<body>
	<div class="container">
		<div th:fragment="header">
			<nav class="navbar navbar-default">
				<div class="container-fluid">
					<div class="navbar-header">
						<a class="navbar-brand" href="#" th:href="@{/}">Anasayfa</a>
						<ul class="nav navbar-nav">
							<li><a href="#" th:href="@{/appeals}">Adaylar</a></li>
							<li><a href="#" th:href="@{/appeal/new}">Başvur</a></li>
						</ul>

					</div>
				</div>
			</nav>
			<div class="jumbotron">
				<div class="row text-center">
					<div class="">
						<h2>Toyota Aday Başvuru Sistemi Demo</h2>
					</div>
				</div>
			</div>
		</div>
	</div>


</body>
</html>
